.root {
	-fx-background: #222;
}

.tab {
    -fx-background: #EEE;
}

.popupLabel {
    -fx-background-color: #222;
    -fx-padding: 8 12;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-font-size: 16;
}